POSTGRES_USER=postgres
POSTGRES_PASSWORD=SECRET
POSTGRES_DB=postgres
OIDC_ISSUER = https://DOMAIN/auth/realms/REALM
OIDC_CLIENT_ID = CLIENT_ID
OIDC_CLIENT_SECRET = CLIENT_SECRET
OIDC_FRONTEND_CLIENT_ID = CLIENT_ID_FOR_FRONTEND
PORT = 8080
